{
  "semi": false,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx", "cn"],
  "importOrder": [
    "^react",
    "<THIRD_PARTY_MODULES>",
    "^@assets/(.*)$",
    "^@types/(.*)$",
    "^@app/(.*)$",
    "^@store/(.*)$",
    "^@hooks/(.*)$",
    "^@lib/(.*)$",
    "^@components/(.*)$",
    "^@features/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
